<h1>Query OES</h1>

<%= render 'partials/dropdown' %>

<div id="option2" class="alloptions">
<%= render 'dataseries_filters/oes' %>
</div>
<br/><br/>

<% if !@reply.nil? %>
  <% @reply.each do |series| %>
    <%= series['status'] %><br/>
    <% if series['message'].present? %><br/>
      <% for message in series['message'] %>
        NOTE: <%= message %><br />
      <% end %>
    <% end %>
    <% if !series['Results']['series'][0]['data'].blank? %>
    <table class="table">
    <thead>
    <% for col in series['Results']['series'][0]['data'][0] %>
      <% if col[0] != "latest"%>
      <th><%= col[0] %></th>
      <% end %>
    <% end %>
    </thead>
    <% for item in series['Results']['series'][0]['data'] %>
      <tr>
      <% for col in item %>
        <% if col[0] == "latest" %>
          <% next %>
        <% end %>

        <td>
          <% if col[0] == "footnotes" %>
            <%= col[1][0]["text"] %>
          <% else %>
            <%= col[1] %>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
    <% end %>
  <% end %>
<% end %>
