<h1> National Employment, Hours and Earnings</h1>

<%= render 'partials/dropdown' %>

<div id="option1" class="alloptions">
<%= render 'dataseries_filters/nationalehe' %>
</div>
<br/><br/>

<% if !@reply.nil? %>
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true"> <!--Accordion wrapper-->

<% count = 0 %>
<% name = "collapse" + count.to_s  %>
  <% @reply.each do |series| %>

    <% count = count + 1 %>
    <% name = "collapse" + count.to_s  %>

    <!-- Accordion card -->
    <div class="card">

    <!-- Card header -->
    <div class="card-header collapsed" data-toggle="collapse" role="tab">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#<%= name %>" aria-expanded="false" aria-controls="collapseOne1">
        <h5 class="mb-0">
        <%= series['Results']['series'][0]['seriesID']%> - <br/>
          <%= @sa_hashmap[series['Results']['series'][0]['seriesID'][2]]%> -
          <%= @industries_hashmap[series['Results']['series'][0]['seriesID'][3..10]]%> - 
          <%= @data_hashmap[series['Results']['series'][0]['seriesID'][-2..-1]]%><br/>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="<%= name %>" class="card-body collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">

      <% if series['message'].present? %><br/>
        <% for message in series['message'] %>
          Message: <%= message %><br /><br />
        <% end %>
      <% end %>
      <br/>

      <!-- If the series ID creates a table that has data -->
      <% if !series['Results']['series'][0]['data'].blank? then %>

      <!-- Create the table -->
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
          <thead>
          <% for col in series['Results']['series'][0]['data'][0] %>
            <% if col[0] != "latest"%>
            <th><%= col[0] %></th>
            <% end %>
          <% end %>
          </thead>
          <% for item in series['Results']['series'][0]['data'] %>
            <tr>
            <% for col in item %>
              <% if col[0] == "latest" %>
                <% next %>
              <% end %>

              <td>
                <% if col[0] == "footnotes" %>
                  <%= col[1][0]["text"] %>
                <% else %>
                  <%= col[1] %>
                <% end %>
              </td>
            <% end %>
            </tr>
          <% end %>
          </table>
      </div> <!-- End of the table -->
      <% end %> <!-- end if series has data -->
      </div> <!-- End of card body -->
      </div> <!-- End of card body bigger-->

    </div> <!-- Accordion card -->
  <% end %> <!-- end of each loop -->
  </div><!-- Accordion wrapper -->
<% end %> <!-- end of the if nil statement -->

<br/><br/><br/><br/>
