<!DOCTYPE html>
<html>
  <head>
    <title>ACCD BLS Dataquery Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'navbar/navbar' %>

    <div id = "container">
    <%= render :partial => "partials/flash" %>
    <%= yield %>
    </div>
  </body>
</html>
